body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1035px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1846px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1846px;
  display:flex;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1846px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1846px;
  width:1024px;
  height:1846px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1846px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3692px;
  width:1024px;
  height:1846px;
  display:flex;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:149px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:606px;
  width:512px;
  height:149px;
  display:flex;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
  padding:2px 2px 2px 2px;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  letter-spacing:normal;
  color:#910012;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u63_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
  padding:2px 2px 2px 2px;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u63_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
  padding:2px 2px 2px 2px;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  letter-spacing:normal;
  color:#910012;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u63_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
  padding:2px 2px 2px 2px;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#910012;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:648px;
  width:300px;
  height:65px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#910012;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#910012;
}
#u63.hint {
}
#u63_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#910012;
}
#u63.disabled {
}
#u63_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#910012;
}
#u63.hint.disabled {
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:492px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:755px;
  width:400px;
  height:492px;
  display:flex;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:209px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:897px;
  width:600px;
  height:209px;
  display:flex;
  opacity:0.5;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文隶书', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:951px;
  width:300px;
  height:90px;
  display:flex;
  font-family:'华文隶书', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u66 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:532px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:1106px;
  width:400px;
  height:532px;
  display:flex;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:209px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:1256px;
  width:600px;
  height:209px;
  display:flex;
  opacity:0.5;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文隶书', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:1315px;
  width:300px;
  height:90px;
  display:flex;
  font-family:'华文隶书', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:533px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:1465px;
  width:400px;
  height:533px;
  display:flex;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:209px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:1637px;
  width:600px;
  height:209px;
  display:flex;
  opacity:0.5;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文隶书', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:1706px;
  width:300px;
  height:72px;
  display:flex;
  font-family:'华文隶书', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u72 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:570px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:1846px;
  width:449px;
  height:570px;
  display:flex;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:209px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1998px;
  width:600px;
  height:209px;
  display:flex;
  opacity:0.5;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文隶书', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:2067px;
  width:300px;
  height:72px;
  display:flex;
  font-family:'华文隶书', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u75 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
  line-height:34px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:2427px;
  width:800px;
  height:176px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
  line-height:34px;
}
#u76 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1846px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5538px;
  width:1024px;
  height:1846px;
  display:flex;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:152px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4380px;
  width:1000px;
  height:152px;
  display:flex;
  opacity:0.5;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:101px;
  padding:2px 2px 2px 2px;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:#910012;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u79_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:101px;
  padding:2px 2px 2px 2px;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u79_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:101px;
  padding:2px 2px 2px 2px;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:#910012;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u79_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:101px;
  padding:2px 2px 2px 2px;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#910012;
  text-align:center;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:4406px;
  width:695px;
  height:101px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#910012;
  text-align:center;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#910012;
  text-align:center;
}
#u79.hint {
}
#u79_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:101px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#910012;
  text-align:center;
}
#u79.disabled {
}
#u79_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:101px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#910012;
  text-align:center;
}
#u79.hint.disabled {
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#910012;
  line-height:34px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:4973px;
  width:350px;
  height:203px;
  display:flex;
  font-family:'隶书', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#910012;
  line-height:34px;
}
#u80 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:429px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:4633px;
  width:525px;
  height:429px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u81 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1637px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7129px;
  width:1024px;
  height:1637px;
  display:flex;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:479px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3154px;
  width:1024px;
  height:479px;
  display:flex;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:577px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:577px;
  display:flex;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:497px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2636px;
  width:1024px;
  height:497px;
  display:flex;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:271px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:34px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:3257px;
  width:569px;
  height:271px;
  display:flex;
  font-family:'楷体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  line-height:34px;
}
#u86 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:571px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3692px;
  width:1024px;
  height:571px;
  display:flex;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:149px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:4231px;
  width:512px;
  height:149px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:72px;
  padding:2px 2px 2px 2px;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  letter-spacing:normal;
  color:#910012;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u89_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:72px;
  padding:2px 2px 2px 2px;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u89_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:72px;
  padding:2px 2px 2px 2px;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  letter-spacing:normal;
  color:#910012;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u89_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:72px;
  padding:2px 2px 2px 2px;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#910012;
  text-align:center;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:4263px;
  width:451px;
  height:72px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#910012;
  text-align:center;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#910012;
  text-align:center;
}
#u89.hint {
}
#u89_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:72px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#910012;
  text-align:center;
}
#u89.disabled {
}
#u89_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:72px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:49px;
  color:#910012;
  text-align:center;
}
#u89.hint.disabled {
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:417px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:4556px;
  width:335px;
  height:417px;
  display:flex;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:962px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5177px;
  width:1024px;
  height:962px;
  display:flex;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:2133px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6167px;
  width:1024px;
  height:2133px;
  display:flex;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:343px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:6299px;
  width:800px;
  height:343px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u93 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:379px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:6813px;
  width:400px;
  height:379px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u94 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:7220px;
  width:461px;
  height:204px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u95 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:683px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8515px;
  width:1024px;
  height:683px;
  display:flex;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:247px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:8665px;
  width:256px;
  height:247px;
  display:flex;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:8636px;
  width:476px;
  height:167px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u98 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:8948px;
  width:471px;
  height:205px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u99 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:389px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:8113px;
  width:950px;
  height:389px;
  display:flex;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:439px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:8161px;
  width:800px;
  height:439px;
  display:flex;
  font-family:'隶书', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:7585px;
  width:447px;
  height:340px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  line-height:34px;
}
#u102 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9158px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:9158px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"华文中宋", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
